<div id="content" class="clearfix">
	<div id="left">
		<div id="vision" class="serif">
			Pinterest For Stock
		</div>
	</div>
	<div id="right">
		<div id="sign_up">
			<p id="topic">
				アカウント登録
			</p>
			<p id="detail">
				あああ
			</p>
			<div id="reg_form_container">
				<div id="reg_form">
					<%= form_for(@user) do |f| %>
							<div class="field">
								<%= f.email_field :email, :placeholder=>"メールアドレス", :class=>"text_input mail_form" %>
							</div>
							<div class="field">

								<%= f.password_field :password, :placeholder=>"パスワード", :class=>"text_input pass_form" %>&nbsp;&nbsp;<%= f.password_field :password_confirmation, :placeholder=>"パスワード（再入力）", :class=>"text_input pass_form" %>
							</div>
							<div class="reg_button_wrap">
								<%= f.submit "アカウント登録", :class=>"reg_button" %>
							</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
